<ss-lib-icon [icon]="IconType.Bell" [color]="Colors.IconOnDisabled"/>

<ss-lib-text [type]="TextType.BodyXs" [weight]="TextWeight.Regular">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.BodySm">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.BodyMd">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.BodyLg">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.BodyXl">Обычный текст</ss-lib-text>

<ss-lib-text [type]="TextType.HeadingXs" [weight]="TextWeight.Regular">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.HeadingXs" [weight]="TextWeight.Medium">Текст медиум</ss-lib-text>
<ss-lib-text [type]="TextType.HeadingXs" [weight]="TextWeight.Semibold">Полу-жирный</ss-lib-text>
<ss-lib-text [type]="TextType.HeadingXs" [weight]="TextWeight.Bold">Жирный текст</ss-lib-text>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="Size.Small"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="Size.Medium"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="Size.Large"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="Size.Large"
    [disabled]="true"
/>

<br/>

<ss-lib-button
    [type]="ButtonType.Secondary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="Size.Large"
/>

<br/>

<ss-lib-button
    [type]="ButtonType.Flat"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="Size.Large"
/>

<!--  *****   -->
<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.OnlyIcon"
    [size]="Size.Small"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.OnlyIcon"
    [size]="Size.Medium"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.OnlyIcon"
    [size]="Size.Large"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.OnlyIcon"
    [size]="Size.Large"
    [disabled]="true"
/>

<br/>


<ss-lib-button
    [type]="ButtonType.Secondary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.OnlyIcon"
    [size]="Size.Large"
/>

<br/>

<ss-lib-button
    [type]="ButtonType.Flat"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.OnlyIcon"
    [size]="Size.Large"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Close"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.OnlyIcon"
    [size]="Size.Large"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Link"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.Start"
/>

<br/>

<ss-lib-toggle [formControl]="toggleCtrl"></ss-lib-toggle>
<br>

<ss-lib-toggle-icon [formControl]="toggleCtrl"></ss-lib-toggle-icon>
<br>

<div class="input">
    <ss-lib-form-field
        [label]="'Название'"
        [hint]="'Подсказка'"
        [errorText]="'Неверно заполнено'"
    >
        <ss-lib-input
            fieldCtrl
            [formControl]="inputCtrl"
            [placeholder]="'oleg@mail.ru'"
        />
    </ss-lib-form-field>
</div>
