.new-table {
	width: 100%;
	overflow-x: auto;
	max-width: none; /* Убираем ограничения */
	box-sizing: border-box;
}

.container {
	min-width: 100%;
	width: auto;
	display: inline-block;
	overflow-x: auto; /* Для горизонтальной прокрутки, если таблица шире */
}

.ss-table {
	width: 100%;
	position: relative;
	border-collapse: separate;
	border-radius: var(--border-radius-md) !important;
	border-spacing: 0;
	table-layout: fixed;
	transition: width 0.1s ease;
}

// *** border radius для таблицы ***
.ss-table thead tr:first-child th:first-child {
	border-top-left-radius: var(--border-radius-md);
}

.ss-table thead tr:first-child th:last-child {
	border-top-right-radius: var(--border-radius-md);
}

.ss-table tbody tr:last-child td:first-child {
	border-bottom-left-radius: var(--border-radius-md);
}

.ss-table tbody tr:last-child td:last-child {
	border-bottom-right-radius: var(--border-radius-md);
}
// -----------------------------------

// *** border ячеек таблицы ***
.ss-table th:not(:last-child) {
	border-right: none;
}

.ss-table thead tr:not(:first-child) th {
	border-top: none;
}

.ss-table thead tr:first-child:not(:only-child) th {
	&[colspan] {
		border-bottom: none;
	}
}

.ss-table tbody td:not(:last-child) {
	border-right: none;
}
// -----------------------------------

.column-item__content {
	display: flex;
	align-items: center;
}

.drag-action__content {
	display: flex;
	align-items: center;
	gap: 15px;
}

.item-align--center {
	justify-content: center;
}

.has-left-border {
	border-left: 1px solid var(--border-primary) !important;
}
