.new-table {
	width: 100%;
	overflow-x: auto;
	max-width: none; /* Убираем ограничения */
	box-sizing: border-box;
}

.container {
	min-width: 100%;
	width: auto;
	display: inline-block;
	overflow-x: auto; /* Для горизонтальной прокрутки, если таблица шире */
}

.ss-table {
	width: 100%;
	position: relative;
	border-collapse: separate;
	border-radius: var(--border-radius-md) !important;
	border-spacing: 0;
	table-layout: fixed;
	transition: width 0.1s ease;
	overflow: hidden;
}

.column-item__content {
	display: flex;
	align-items: center;
}

.drag-action__content {
	display: flex;
	align-items: center;
	gap: 15px;
}

.item-align--center {
	justify-content: center;
}

.has-left-border {
	border-left: 1px solid var(--border-primary) !important;
}
