<ss-lib-icon [icon]="IconType.Bell" [color]="Colors.IconOnDisabled"/>

<ss-lib-text [type]="TextType.BodyXs" [weight]="TextWeight.Regular">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.BodySm">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.BodyMd">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.BodyLg">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.BodyXl">Обычный текст</ss-lib-text>

<ss-lib-text [type]="TextType.HeadingXs" [weight]="TextWeight.Regular">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.HeadingXs" [weight]="TextWeight.Medium">Текст медиум</ss-lib-text>
<ss-lib-text [type]="TextType.HeadingXs" [weight]="TextWeight.Semibold">Полу-жирный</ss-lib-text>
<ss-lib-text [type]="TextType.HeadingXs" [weight]="TextWeight.Bold">Жирный текст</ss-lib-text>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Primary xs'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="ExtraSize.xs"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Primary sm'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="ExtraSize.sm"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Primary md'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="ExtraSize.md"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Primary lg'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="ExtraSize.lg"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Primary lg disabled'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="ExtraSize.lg"
    [disabled]="true"
/>
<br/>

<br/>

<ss-lib-button
    [type]="ButtonType.Secondary"
    [text]="'Secondary lg'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="ExtraSize.lg"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Ghost"
    [text]="'Ghost lg'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="ExtraSize.lg"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Text"
    [text]="'Text lg'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.End"
    [size]="ExtraSize.lg"
/>
<br/>

<span>Кнопки only icon</span>
<!--  *****   -->

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.OnlyIcon"
    [size]="ExtraSize.sm"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.OnlyIcon"
    [size]="ExtraSize.md"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Primary"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.OnlyIcon"
    [size]="ExtraSize.lg"
/>
<br/>

<ss-lib-button
    [type]="ButtonType.Text"
    [text]="'Кнопка'"
    [icon]="IconType.Bell"
    [iconPosition]="IconPosition.OnlyIcon"
    [size]="ExtraSize.xs"
/>
<br/>

<ss-lib-utility-button [type]="ButtonType.Utility"></ss-lib-utility-button>
<br/>


<ss-lib-toggle [formControl]="toggleCtrl"></ss-lib-toggle>
<br>

<ss-lib-toggle-icon [formControl]="toggleCtrl"></ss-lib-toggle-icon>
<br>

<ss-lib-divider [direction]="DividerType.Vertical"></ss-lib-divider>
<br>

<ss-lib-divider></ss-lib-divider>

<div class="input">
    <ss-lib-form-field
        [label]="'Название'"
        [hint]="'Подсказка'"
        [errorText]="'Неверно заполнено'"
        [showValidationFieldIcon]="true"
    >
        <ss-lib-input
            fieldCtrl
            [formControl]="inputCtrl"
            [placeholder]="'oleg@mail.ru'"
        />
    </ss-lib-form-field>
</div>
<br/>
<br/>

<div class="input">
    <ss-lib-form-field
        [label]="'Название'"
        [hint]="'Подсказка'"
        [errorText]="'Текст ошибки'"
    >
        <ss-lib-textarea
            fieldCtrl
            [formControl]="textareaCtrl"
        />
    </ss-lib-form-field>
</div>
<br>
<br>

<span>Пример avatar-dropdown</span>
<ss-lib-avatar
    [username]="'ВН'"
    [src]="'https://i.pravatar.cc/300'"
    [popoverTriggerFor]="dropdown1"
/>
<ss-lib-dropdown-list
    #dropdown1
    [headerTemplateRef]="avatarHeader"
>
    <ss-lib-dropdown-item [label]="'Опция'" [icon]="IconType.Bell" (click)="console.log(1)"/>
    <ss-lib-dropdown-item [label]="'Опция'" [icon]="IconType.Bell" (click)="console.log(2)"/>
    <ss-lib-dropdown-item [label]="'Опция'" [icon]="IconType.Bell" (click)="console.log(3)"/>
    <ss-lib-dropdown-item [label]="'Опция'" [icon]="IconType.Bell" (click)="console.log(4)"/>
    <ss-lib-divider class="divider-block"></ss-lib-divider>
    <ss-lib-dropdown-item [label]="'Удалить'" [icon]="IconType.Bell" (click)="console.log(5)"/>
</ss-lib-dropdown-list>

<ng-template #avatarHeader>
    <div class="avatar-tmp">
        <ss-lib-avatar
            [username]="'ВН'"
            [src]="'https://i.pravatar.cc/300'"
        />

        <div class="avatar-tmp__title">
            <ss-lib-text
                [type]="TextType.BodySm"
                [weight]="TextWeight.Medium"
                [color]="Colors.TextBody2"
            >
                Мария Викторовна
            </ss-lib-text>

            <ss-lib-text
                [type]="TextType.BodySm"
                [weight]="TextWeight.Regular"
                [color]="Colors.TextBody3"
            >
                Менеджер по продажам
            </ss-lib-text>
        </div>
    </div>
</ng-template>
<br>

<ss-lib-form-field
    [label]="'Название'"
    [hint]="'Подсказка'"
    [errorText]="'Неверно заполнено'"
    [showValidationFieldIcon]="true"
>
    <ss-lib-select
        fieldCtrl
        [formControl]="selectCtrl"
        [popoverTriggerFor]="dropdown2"
    >
        <ss-lib-dropdown-list #dropdown2>
            @for (item of dropdownItems; track item.id) {
                <ss-lib-dropdown-item [value]="item" [icon]="IconType.Bell"/>
            }
        </ss-lib-dropdown-list>
    </ss-lib-select>
</ss-lib-form-field>
<br>
<br>

<ss-lib-avatar
    [username]="'ВН'"
    [src]="'https://i.pravatar.cc/300'"
/>
<br>

<ss-lib-number-picker [formControl]="numberPickerCtrl" [min]="5" [max]="1000"></ss-lib-number-picker>
<br>

