.avatar-tmp {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 16px;

    &__label {
        display: flex;
        flex-direction: column;
    }
}

.divider-block {
    padding: 4px 0;
}

