.spinners {
	width: 200px;
}

.button-center {
	display: flex;
	align-items: center;
}

.dark-close-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #212121;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatar-tmp {
	display: flex;
	justify-content: space-between;
	gap: 12px;
	padding: 12px 16px;

	&__label {
		display: flex;
		flex-direction: column;
	}
}

.divider-block {
	padding: 4px 0;
}

.badge {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.empty-state-actions {
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
}

.modal {
	width: 500px;
}

.tooltip-example {
	display: flex;
	justify-content: center;
}

.scrollbar-test {
	height: 150px;
	width: 150px;
	display: flex;
	flex-wrap: nowrap;

	&__item {
		white-space: nowrap;
	}
}

.checkbox {
	display: flex;
	gap: 5px;

	&__actions {
		display: flex;
		gap: 5px;
	}
}

.otp {
	width: 360px;
}

.tabs {
	ss-lib-divider {
		position: absolute;
		bottom: -7px;
		width: 100%;
		z-index: 1;
	}
}

ss-lib-button {
	//width: 100px;
}

.carousel-item {
	width: 100%;
	height: auto;
	object-fit: cover;
	display: block;
}

.hint {
	width: 500px;
	height: 200px;
	display: flex;
	gap: 15px;
}
