<ss-lib-image-upload
	[progress]="fileLoadProgress()"
	(fileChanged)="uploadFile($event)"
	(uploadCancel)="uploadCancel()"
></ss-lib-image-upload>

<div class="spinners">
	<ss-lib-progress-circle
		[progress]="fileLoadProgress()"
	></ss-lib-progress-circle>
	<ss-lib-spinner [displaySpinnerText]="true"></ss-lib-spinner>
</div>

<ss-lib-icon
	[icon]="IconType.Bell"
	[color]="Colors.IconOnDisabled"
/>

<ss-lib-text
	[type]="TextType.BodyXs"
	[weight]="TextWeight.Regular"
	>Обычный текст
</ss-lib-text>
<ss-lib-text [type]="TextType.BodySm">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.BodyMd">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.BodyLg">Обычный текст</ss-lib-text>
<ss-lib-text [type]="TextType.BodyXl">Обычный текст</ss-lib-text>

<ss-lib-text
	[type]="TextType.HeadingXs"
	[weight]="TextWeight.Regular"
	>Обычный текст
</ss-lib-text>
<ss-lib-text
	[type]="TextType.HeadingXs"
	[weight]="TextWeight.Medium"
	>Текст медиум
</ss-lib-text>
<ss-lib-text
	[type]="TextType.HeadingXs"
	[weight]="TextWeight.Semibold"
	>Полу-жирный
</ss-lib-text>
<ss-lib-text
	[type]="TextType.HeadingXs"
	[weight]="TextWeight.Bold"
	>Жирный текст
</ss-lib-text>

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Primary xs'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.End"
	[size]="ExtraSize.xs"
/>
<br />

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Primary sm'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.End"
	[size]="ExtraSize.sm"
/>
<br />

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Primary md'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.End"
	[size]="ExtraSize.md"
/>
<br />

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Primary lg'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.End"
	[size]="ExtraSize.lg"
/>
<br />

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Primary lg disabled'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.End"
	[size]="ExtraSize.lg"
	[disabled]="true"
/>
<br />

<br />

<ss-lib-button
	[type]="ButtonType.Secondary"
	[text]="'Secondary lg'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.End"
	[size]="ExtraSize.lg"
/>
<br />

<ss-lib-button
	[type]="ButtonType.Ghost"
	[text]="'Ghost lg'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.End"
	[size]="ExtraSize.lg"
/>
<br />

<ss-lib-button
	[type]="ButtonType.Text"
	[text]="'Text lg'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.End"
	[size]="ExtraSize.lg"
/>
<br />

<span>Кнопки only icon</span>
<!--  *****   -->

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Кнопка'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.OnlyIcon"
	[size]="ExtraSize.sm"
/>
<br />

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Кнопка'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.OnlyIcon"
	[size]="ExtraSize.md"
/>
<br />

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Кнопка'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.OnlyIcon"
	[size]="ExtraSize.lg"
/>
<br />

<ss-lib-button
	[type]="ButtonType.Text"
	[text]="'Кнопка'"
	[icon]="IconType.Bell"
	[iconPosition]="IconPosition.OnlyIcon"
	[size]="ExtraSize.xs"
/>
<br />

<ss-lib-utility-button />
<br />

<ss-lib-close-button [size]="ExtraSize.xs" />
<br />

<div class="dark-close-button">
	<ss-lib-close-button
		[type]="ButtonType.CloseDark"
		[size]="ExtraSize.xs"
	/>
</div>
<br />

<span>Preview button</span>
<ss-lib-preview-button />
<br />

<span>Overlay button</span>
<ss-lib-overlay-button />
<br />

<ss-lib-link
	[type]="ButtonType.LinkBlue"
	[linkAppearance]="LinkAppearance.Standalone"
	[text]="'Ссылка Standalone'"
	[icon]="IconType.Plus"
	[iconPosition]="IconPosition.Start"
	[size]="ExtraSize.xs"
	[disabled]="true"
/>
<br />

<ss-lib-link
	[type]="ButtonType.LinkBlack"
	[linkAppearance]="LinkAppearance.Standalone"
	[text]="'Ссылка Standalone'"
	[icon]="IconType.Plus"
	[iconPosition]="IconPosition.Start"
	[size]="ExtraSize.xs"
/>
<br />

<ss-lib-link
	[type]="ButtonType.LinkBlue"
	[linkAppearance]="LinkAppearance.Inline"
	[text]="'Ссылка Inline'"
	[icon]="IconType.Plus"
	[iconPosition]="IconPosition.Start"
	[size]="ExtraSize.xs"
	[disabled]="true"
/>
<br />

<ss-lib-toggle [formControl]="toggleCtrl"></ss-lib-toggle>
<br />

<ss-lib-toggle-icon [formControl]="toggleCtrl"></ss-lib-toggle-icon>
<br />

<ss-lib-divider [orientation]="Orientation.Vertical"></ss-lib-divider>
<br />

<ss-lib-divider></ss-lib-divider>

<div class="input">
	<ss-lib-form-field
		[label]="'Название'"
		[hint]="'Подсказка'"
		[errorText]="'Неверно заполнено'"
		[showValidationFieldIcon]="true"
	>
		<ss-lib-input
			fieldCtrl
			[formControl]="inputCtrl"
			[placeholder]="'oleg@mail.ru'"
		/>
	</ss-lib-form-field>
</div>
<br />
<br />

<div class="input">
	<ss-lib-form-field
		[label]="'Название'"
		[hint]="'Подсказка'"
		[errorText]="'Текст ошибки'"
	>
		<ss-lib-textarea
			fieldCtrl
			[formControl]="textareaCtrl"
		/>
	</ss-lib-form-field>
</div>
<br />
<br />

<span>Пример avatar-dropdown</span>

<ss-lib-avatar-button
	[username]="'ВН'"
	[src]="'https://i.pravatar.cc/300'"
	[popoverTriggerFor]="dropdown1"
/>

<ss-lib-dropdown-list
	#dropdown1
	[headerTemplateRef]="avatarHeader"
>
	<ss-lib-dropdown-item
		[label]="'Опция'"
		[icon]="IconType.Bell"
		[selected]="true"
		(click)="console.log(1)"
	/>
	<ss-lib-dropdown-item
		[label]="'Опция'"
		[icon]="IconType.Bell"
		[isDisabled]="true"
		(click)="console.log(2)"
	/>
	<ss-lib-divider class="divider-block"></ss-lib-divider>
	<ss-lib-dropdown-item
		[label]="'Удалить'"
		[icon]="IconType.Bell"
		(click)="console.log(5)"
	/>
</ss-lib-dropdown-list>

<ng-template #avatarHeader>
	<div class="avatar-tmp">
		<ss-lib-avatar
			[username]="'ВН'"
			[src]="'https://i.pravatar.cc/300'"
		/>

		<div class="avatar-tmp__title">
			<ss-lib-text
				[type]="TextType.BodySm"
				[weight]="TextWeight.Medium"
				[color]="Colors.TextBody2"
			>
				Мария Викторовна
			</ss-lib-text>

			<ss-lib-text
				[type]="TextType.BodySm"
				[weight]="TextWeight.Regular"
				[color]="Colors.TextBody3"
			>
				Менеджер по продажам
			</ss-lib-text>
		</div>
	</div>
</ng-template>
<br />

<ss-lib-form-field
	[label]="'Название'"
	[hint]="'Подсказка'"
	[errorText]="'Неверно заполнено'"
	[showValidationFieldIcon]="true"
>
	<ss-lib-select
		fieldCtrl
		[formControl]="selectCtrl"
		[popoverTriggerFor]="dropdown2"
	>
		<ss-lib-dropdown-list #dropdown2>
			@for (item of dropdownItems; track item.id) {
				<ss-lib-dropdown-item
					[value]="item"
					[icon]="IconType.Bell"
				/>
			}
		</ss-lib-dropdown-list>
	</ss-lib-select>
</ss-lib-form-field>
<br />
<br />

<ss-lib-avatar
	[username]="'ВН'"
	[src]="'https://i.pravatar.cc/300'"
/>
<br />

<ss-lib-number-picker
	[formControl]="numberPickerCtrl"
	[min]="5"
	[max]="1000"
></ss-lib-number-picker>
<br />
<div class="badge">
	<span> Large </span>
	<ss-lib-badge
		[badgeProps]="{
			size: ExtraSize.lg,
			icon: IconType.ImagePlus,
		}"
	/>

	<ss-lib-badge
		[badgeProps]="{
			size: ExtraSize.lg,
			icon: IconType.ImagePlus,
			shape: Shape.Round,
		}"
	/>

	<ss-lib-badge
		[badgeProps]="{
			size: ExtraSize.lg,
			icon: IconType.ImagePlus,
			shape: Shape.Round,
			status: Status.Warning,
		}"
	/>

	<ss-lib-badge
		[badgeProps]="{
			size: ExtraSize.lg,
			icon: IconType.ImagePlus,
			shape: Shape.Square,
			status: Status.Warning,
		}"
	/>

	<span> Medium </span>
	<ss-lib-badge
		[badgeProps]="{
			size: ExtraSize.md,
			icon: IconType.ImagePlus,
		}"
	/>

	<ss-lib-badge
		[badgeProps]="{
			size: ExtraSize.md,
			icon: IconType.ImagePlus,
			shape: Shape.Round,
		}"
	/>

	<span> Xl </span>
	<ss-lib-badge
		[badgeProps]="{
			size: ExtraSize.xl,
			icon: IconType.ImagePlus,
			status: Status.Error,
		}"
	/>

	<ss-lib-badge
		[badgeProps]="{
			size: ExtraSize.xl,
			icon: IconType.ImagePlus,
			shape: Shape.Round,
			status: Status.Error,
		}"
	/>
</div>

<ng-template #action>
	<ss-lib-button [text]="'Добавить баннер'"></ss-lib-button>
</ng-template>

<ss-lib-empty-state
	[headerTitle]="'Управление баннерами'"
	[actionRef]="action"
	[icon]="IconType.ImagePlus"
	[title]="'Заголовок'"
	[description]="'Какой то текст который мне лень писать и выдумывать.'"
>
	<div class="empty-state-actions">
		<ss-lib-button
			[type]="ButtonType.Primary"
			[text]="'Любая кнопка'"
		></ss-lib-button>
		<ss-lib-button
			[type]="ButtonType.Primary"
			[text]="'Еще кнопка'"
		></ss-lib-button>
	</div>
</ss-lib-empty-state>
<br />
<br />
<div style="display: flex; gap: 10px">
	<ss-lib-skeleton-block
		[config]="{ width: '300px', height: '200px', type: Shape.Round }"
	>
	</ss-lib-skeleton-block>

	<ss-lib-skeleton-block
		[config]="{ width: '100px', height: '10px', type: Shape.Square }"
	>
	</ss-lib-skeleton-block>

	<ss-lib-skeleton-block
		[config]="{ width: '200px', height: '200px', type: Shape.Round }"
	>
	</ss-lib-skeleton-block>
</div>

<br />

<div class="skeleton-table">
	<ss-lib-skeleton-table></ss-lib-skeleton-table>
</div>

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Модалка - компонент'"
	(click)="openTestModal()"
/>
<br />

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Модалка - confirm'"
	(click)="openTestConfirmModal()"
/>
<br />

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Модалка - light-box'"
	(click)="openLightBoxModal()"
/>
<br />

<div class="tooltip-example">
	<ss-lib-icon
		ss-lib-tooltip
		[icon]="IconType.Plus"
		[color]="Colors.IconOnDisabled"
		[tooltipText]="'Это тултип'"
		[position]="TooltipPosition.TopRight"
	/>
</div>

<ss-lib-form-field
	[label]="'Datepicker'"
	[hint]="'Подсказка'"
	[errorText]="'Неверно заполнено'"
	[showValidationFieldIcon]="true"
>
	<ss-lib-datepicker
		fieldCtrl
		[formControl]="datepickerCtrl"
	></ss-lib-datepicker>
</ss-lib-form-field>
<br />

<div class="scrollbar-test">
	<ss-lib-scrollbar>
		@for (colCount of 100 | repeatTimes; track $index) {
			<div class="scrollbar-test__item">
				Товарищи! сложившаяся структура организации играет важную роль в
				формировании модели развития
			</div>
		}
	</ss-lib-scrollbar>
</div>

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Default'"
	(click)="showToastDefault()"
/>
<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Primary'"
	(click)="showToastError()"
/>
<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Success'"
	(click)="showToastSuccess()"
/>

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Success api'"
	(click)="viewToastSuccess()"
/>

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'Error api'"
	(click)="exampleMetod({ email: 'sydney@fife' })"
/>
<br />

<ss-lib-form-field
	[label]="'Datepicker'"
	[hint]="'Подсказка'"
	[errorText]="'Неверно заполнено'"
>
	<ss-lib-timepicker
		fieldCtrl
		[formControl]="timepickerCtrl"
	></ss-lib-timepicker>
</ss-lib-form-field>
<br />

<pre>{{ timepickerCtrl.value }}</pre>
<ss-lib-table>
	<tr
		*ngFor="let item of exampleItems"
		class="ss-lib-table-tr"
		app-example-table-tr
		[item]="item"
	></tr>
</ss-lib-table>

<ss-lib-utility-button [popoverTriggerFor]="dropdown2" />
<br />
<ss-lib-utility-button [popoverTriggerFor]="dropdown2" />
<br />

<ss-lib-dropdown-list #dropdown2>
	<ss-lib-dropdown-item
		[label]="'Опция'"
		[icon]="IconType.Bell"
		(click)="console.log(1)"
	/>
	<ss-lib-dropdown-item
		[label]="'Опция'"
		[icon]="IconType.Bell"
		(click)="console.log(2)"
	/>
	<ss-lib-divider class="divider-block"></ss-lib-divider>
	<ss-lib-dropdown-item
		[label]="'Удалить'"
		[icon]="IconType.Bell"
		(click)="console.log(5)"
	/>
</ss-lib-dropdown-list>
<div class="checkbox">
	<ss-lib-checkbox [formControl]="checkBox1"></ss-lib-checkbox>

	<ss-lib-checkbox [formControl]="checkBox2"></ss-lib-checkbox>

	<ss-lib-checkbox [formControl]="checkBox3"></ss-lib-checkbox>

	<ss-lib-checkbox
		[type]="'indeterminate'"
		[formControl]="checkBox1"
	></ss-lib-checkbox>

	<ss-lib-checkbox
		[type]="'indeterminate'"
		[formControl]="checkBox2"
	></ss-lib-checkbox>

	<ss-lib-checkbox
		[type]="'indeterminate'"
		[formControl]="checkBox3"
	></ss-lib-checkbox>
</div>

<div class="otp">
	<ss-lib-otp-input [formControl]="otpCtrl"></ss-lib-otp-input>
	<br />

	<button (click)="submitOtp()">Submit otp</button>
</div>

<ss-lib-button
	[type]="ButtonType.Primary"
	[text]="'левый sidePage'"
	(click)="openRightSidebar()"
/>

<ss-lib-carousel
	[duration]="3000"
	[(index)]="carouselIndex"
>
	@for (banner of bannersItems; track banner) {
		<img
			*ssItem
			class="carousel-item"
			alt="Banner image"
			height="220"
			width="990"
			priority
			[ngSrc]="banner.imageUrl"
		/>
	}
</ss-lib-carousel>

<div class="tabs">
	<ss-lib-tabs
		[tabs]="tabs"
		[actionsRef]="actions"
		[activeTabIndex]="indexTab"
		(changeIndexEmit)="changeTab($event)"
	></ss-lib-tabs>
	<ng-template #actions>
		<ss-lib-button
			[size]="ExtraSize.md"
			[text]="'1 кнопка'"
			(click)="changeIndex()"
		></ss-lib-button>
		<ss-lib-button
			[size]="ExtraSize.md"
			[text]="'2 кнопка'"
		></ss-lib-button>
	</ng-template>
</div>

<span>{{ indexTab }}</span>

<ss-lib-load-pagination
	[limit]="20"
	[total]="102"
	[(offset)]="offset"
>
</ss-lib-load-pagination>

{{ offset() }}

<ss-lib-button
	[iconPosition]="IconPosition.End"
	[justifyContent]="JustifyContent.SpaceBetween"
	[icon]="IconType.ChevronDown"
	[text]="'Какой то текст'"
></ss-lib-button>

<div class="hint">
	<ss-lib-hint
		[icon]="IconType.Info"
		[type]="HelpHintType.Default"
	></ss-lib-hint>
	<ss-lib-hint
		[icon]="IconType.Info"
		[type]="HelpHintType.Success"
	></ss-lib-hint>
	<ss-lib-hint
		[icon]="IconType.Info"
		[type]="HelpHintType.Warning"
	></ss-lib-hint>
	<ss-lib-hint
		[icon]="IconType.Info"
		[type]="HelpHintType.Error"
	></ss-lib-hint>
	<ss-lib-hint
		[icon]="IconType.Info"
		[type]="HelpHintType.Warning"
		[disabled]="true"
	></ss-lib-hint>
</div>

<div class="input">
	<ss-lib-form-field
		[label]="'Название'"
		[hint]="'Подсказка'"
		[errorText]="'Неверно заполнено'"
		[tooltipInfoText]="'Какой то тултип'"
		[showValidationFieldIcon]="true"
		[icon]="IconType.Bell"
	>
		<ss-lib-input
			fieldCtrl
			[formControl]="inputCtrl"
			[placeholder]="'oleg@mail.ru'"
			[clearButton]="true"
		/>
	</ss-lib-form-field>
</div>

<ss-lib-filters></ss-lib-filters>
